body{background-color: #D6CCC2; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;


}

header{background-color: aquamarine;
   height: auto;
   width: auto ;
   padding: 15px; 
   margin: 10px;
   border-radius: 10px;
   text-align: center;
   
}

header img{
    border-radius: 50%;
}

main{background-color: antiquewhite;
    height: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px

}

h1{color: #4A4A4A;
    margin-bottom:  20px; 
    font-size: 40px;
}

hr{ margin-bottom: 20px;
    color: blue;

}
 
p{ margin-bottom: 20px;

}

ul{ list-style: none;
    margin-bottom: 20px;
} 

ul li{ 
    margin-bottom: 10px;
    font-size: 18px;
 } 